[Desktop Entry]
Name=Flatty
Comment="Simple flatpak GUI client for the flatpak command-line utility."
Exec=/home/omega/flatty/bin/flatty
Terminal=false
Type=Application
Icon=/home/omega/flatty/icons/flatty.png